body {
    background-color: blueviolet;
}

table {
    width: 800px;
}

table, th, td {
    background-color: gray;
    border: 5px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    width: 133px;

}

#submitTable {
    margin: 20px;
}

#addEmployee {
    margin: 10px 60px;
}

.flex-container {
    justify-content:center;
    

}
#contentAdd {
    padding: 5px;
    width: 133px;
}